	* {
	margin: 0;
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
	}
body {
	background-color: #161616;
	padding-right: 40px;
	padding-left: 40px;
}
.row {
	width: 100%;
	margin: auto;
}
section {
	background-color: #292929;
	border: 1px solid #e3e3e3;
	position: relative;
	/*I added border-radius to make look smooth*/
	border-radius: 5px;
}
h1 {
	font-family: Trebuchet MS, Calibri, sans-serif;
	color: #f2f2f2;
	font-weight: lighter;
	font-size: 260%;
	margin-bottom: 50px;
	text-align: center;
}
p {
	color: #e3e3e3;
	padding: 25px;
}
div#container {
	position: relative;
}

.menuTitle {
	color: #dedede;
	font-weight: lighter;
	text-align: center;
	position: absolute;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 50%;
	margin: 0px;
	top: 0px;
	right: 0px;
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3; 
	border-radius: 0 5px 0 0;
}
.menuTitle#chicken {
	background: #962b24;
}
.menuTitle#beef {
	background: #993c20;
}
.menuTitle#sushi {
	background: #a16d22;
}
/*media queries*/
@media (min-width: 992px) {
	.col-lg-4{
		float:left;
		width: 33.33%;
		padding: 15px;
		}
	h1 {
		margin-top: 90px;
	}
	section {
		height: 260px;
	}
	/*I added a bit of style for the section*/
	section:hover {
	border: 1px solid #161616;
	cursor: pointer;
	}
	p {
			margin-top: 80px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
		padding: 15px;
	}
	.col-md-12 {
		float: left;
		width: 100%;
		padding: 15px;
	}
	h1 {
		margin-top: 50px;
	}
	p {
		margin-top: 50px;
	}
}
@media (max-width: 767px) {
	.col-s-12 {
		float: left;
		width: 100%;
		padding: 15px;
	}
	h1 {
		margin-top: 50px;
	}
	p {
		margin-top: 50px;
	}
}